html, body {
  font-family: "Segoe UI", Montserrat, system-ui,-apple-system,sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
}
#mh, #mp {
  opacity: 1;
}

.container-fluid {
  padding: 0;
}

.logo-home {
  margin-top: 5px;
  background-image: url("../images/symbol-nightwatch.svg");
  background-size: 38px, 41px;
  height: 41px;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-left: 50px;
  color: #fff;
  text-decoration: none;
  font-size:15px
}

.logo-home:hover {
  color: #fff;
  text-decoration: none;
}

.navbar {
  margin-top: 0;
}

.navbar-brand {
  height: auto;
}

.nav-box {
  margin-top: 23px;
}

.nav>li>a {
  padding: 4px 9px;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none!important;
  font-family: var(--font-family-two);
  margin: 0;
}

.nav>li>a:hover {
  color: #fff;
  background: none;
}

.nav > li >a:focus {
  color: #fff;
  background: none;
}


#gettingstarted-container {
  position: relative;
}
.nw-navbar {
  position: sticky;
  top: 0;
  z-index: 1071;
  padding: 0;
  /*height: 65px;*/
  background: none;
  border: 0;
  background: #000;
}
.nw-navbar .container {
  width: 100%;
}

[data-uri^="/api/$method"] body.navbar-visible .bs-sidebar,
[data-uri^="/api/commands"] body.navbar-visible .bs-sidebar {
  overflow-y: auto;
  height: 90vh;
}


#navigation.collapse.show + .navbar-nav.ml-md-auto {
  display: none;
}
.dropdown-item.active, .dropdown-item:active {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") no-repeat .4rem .6rem/.75rem .75rem;
  font-weight: 600;
  color: #222;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-perspective: 1px;
  perspective: 1px;
  margin-top: -74px;
}

[data-uri="/"] .parallax {
  overflow-y: auto;
}

.parallax.small {
  height: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.banner-visible .parallax__layer {

}
[data-uri="/"] .banner-visible .nw-navbar .container {
  margin-top: 35px
}
.parallax__layer--0 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--1 {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--2 {
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
}

.parallax__layer--3 {
  -webkit-transform: translateZ(-3px) scale(4);
  transform: translateZ(-3px) scale(4);
}

.parallax__layer--4 {
  -webkit-transform: translateZ(-4px) scale(5);
  transform: translateZ(-4px) scale(5);
}

.parallax__layer--5 {
  -webkit-transform: translateZ(-5px) scale(6);
  transform: translateZ(-5px) scale(6);
}

.parallax footer {
  display: none;
}

[data-uri="/"] .parallax footer {
  display: block;
}

#index-container footer p {
  color: #aaa;
}
.top-stars {
  margin-top: 0;
  height: 100vh;
  background-image: url("../images/stars.svg");
  /*background-size: 2140px, 1270px;*/
  background-size: 1841px, 485px;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.top-clouds {
  margin-top: 0;
  height: 100vh;
  background-image: url("../images/clouds.svg");
  background-size: 2035px, 133px;
  background-position: -webkit-calc(50% - 100px) 100px;
  background-position: calc(50% - 100px) 100px;
  background-repeat: no-repeat;
}

.top-moon {
  margin-top: 0;
  height: 100vh;
  background-image: url("../images/moon.svg");
  background-size: 1865px, 1865px;
  background-position: -webkit-calc(50% + 650px) -600px;
  background-position: calc(50% + 650px) -600px;
  background-repeat: no-repeat;
}

.houses-left {
  background-image: url("../images/houses-left.svg");
  background-position: -webkit-calc(50% - 1450px) -webkit-calc(100% + 30px);
  background-position: calc(50% - 1450px) calc(100% + 30px);
  background-repeat: no-repeat;
}

.houses-right {
  background-image: url("../images/houses-right.svg");
  background-position: -webkit-calc(50% + 1200px) -webkit-calc(100% + 30px);
  background-position: calc(50% + 1200px) calc(100% + 30px);
  background-repeat: no-repeat;
}

#top-section .houses-right h1 {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 100;
  letter-spacing: -5px;
  font-size: 90px;
}

@media screen and (min-width: 992px) {
  #top-section {
    margin-top: 100px;
  }
  #index-container .btn-github, #index-container .btn-download {
    margin: 63px 10px 49px 0
  }
}
#top-section h1, .secondary .jumbotron h1 {
  margin-top: 80px;
  background-image: url("../images/symbol-nightwatch.svg");
  background-size: 136px, 144px;
  height: 150px;
  background-repeat: no-repeat;
  padding-top: 44px;
  padding-left: 155px;
  letter-spacing: 3px;

  text-align: left;
  font-weight: 100;
  font-size: 70px;
  color: #CE8E32;
  margin-bottom: 15px;
}

.secondary .jumbotron h1 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-image: none;
  margin-top: 80px;
  padding:0;
  font-size:64px;
  height: auto;
  letter-spacing: 0;
}

#top-section h1>span {
  color: #895F28;
}

#top-section h1 + p {
  text-align: left;
  font-weight: 200;
  font-size: 30px;
  line-height: 160%;
  color: #fff;
}

.code-top {
  height: 360px;
  margin-left: 58px;
  margin-right: auto;
}

/* Secondary Page */

#secondary .top-clouds {
  margin-top: 0;
  height: 100vh;
  background-image: url("../images/clouds.svg");
  background-size: 2035px, 133px;
  background-position: -webkit-calc(50% - 100px) 10px;
  background-position: calc(50% - 100px) 10px;
  background-repeat: no-repeat;
}

#secondary .top-moon {
  margin-top: 0;
  height: 100vh;
  background-image: url("../images/moon.svg");
  background-size: 1865px, 1865px;
  background-position: -webkit-calc(50% + 650px) -780px;
  background-position: calc(50% + 650px) -780px;
  background-repeat: no-repeat;
}

#secondary #top-section h1 {
  margin-top: 0;
  background-size: 136px, 144px;
  height: auto;
  background: none no-repeat;
  padding-top: 20px;
  padding-left: 0;

  text-align: left;
  font-weight: 200;
  font-size: 56px;
  color: #CE8E32;
  margin-bottom: 40px;
}

#content {
  height: 2000px;
  background-color: #ffffff;
}

b, strong {
  font-weight: 600;
}
.parallax #index-container .index-features p {
  font-weight: 300;
}
.index-features h2 {
  font-weight: 100;
  letter-spacing: -.05px;
}

pre:before {
  content: '%';
  z-index: 1;
  display: inline-block;
  color: #222;
  bottom: auto;
  margin-right: 5px;
  left: 10px;
  width: auto;
  height: auto;
  max-height: 13em;
  transform: rotate(0);
}
pre.language-bash {
  font-size: 14px;
}
pre.language-bash:before {
  color: #888;
}

.hide-indicator pre:before,
pre.hide-indicator:before {
  content: none;
}
pre.windows-cmd:before {
  content: 'C:\\>';
}
pre[data-language="javascript"]:before,
pre[class*="language-javascript"]:before,
pre[class*="language-typescript"]::before
{
  content: none;
}

@media (max-width: 992px), screen and (orientation: portrait) {
  img.code-top {
    display: none;
  }

  #index-container .btn-github,
  #index-container .btn-download {
    width: 160px;
  }
}
.jumbotron .container {
  max-width: 1440px;
}
.edit-source {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iMCAwIDE2IDE2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxzdHlsZT4uY2xzLTEsLmNscy0ye2ZpbGw6IzhlOGU4ZTt9LmNscy0ye2ZpbGwtcnVsZTpldmVub2RkO308L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGRhdGEtbmFtZT0iTGF5ZXIgMiIgaWQ9IkxheWVyXzIiPjxnIGRhdGEtbmFtZT0iTGF5ZXIgMSIgaWQ9IkxheWVyXzEtMiI+PHJlY3QgY2xhc3M9ImNscy0xIiBoZWlnaHQ9IjQuODYiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zLjc3IDcuODEpIHJvdGF0ZSgtNDUpIiB3aWR0aD0iMTEuNDQiIHg9IjEuODMiIHk9IjYuMDIiLz48cGF0aCBjbGFzcz0iY2xzLTIiIGQ9Ik0xNS43MywyLjQsMTMuNi4yN2EuOTMuOTMsMCwwLDAtMS4zMSwwTDExLjExLDEuNDVsMy40NCwzLjQzLDEuMTgtMS4xOEEuOTMuOTMsMCwwLDAsMTUuNzMsMi40WiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTAsMTUuMjhBLjYxLjYxLDAsMCwwLC43MiwxNkw0LDE1LjQ1LjU1LDEyWiIvPjwvZz48L2c+PC9zdmc+);
  width: 28px;
  height: 28px;
  text-indent: -9999px;
  display: block;
  float: right;
  padding: 9px;
  background-repeat: no-repeat;
  background-size: 65% auto;
  background-position-x: 5px;
  background-position-y: 5px;
  border-radius: 3px;
  margin-right: 10px;
  margin-top: 15px;
}
.edit-source:hover {
  background-color: #f3f3f3;
}

[data-uri^="/blog"] .docs-section,
[data-uri^="/api"] .docs-section,
[data-uri^="/gettingstarted"] .docs-section,
[data-uri^="/about"] .docs-section,
[data-uri^="/guide"] .docs-section:not(.releases) {
  display:none
}

section[data-page-uri] {
  display: none;
}

[data-uri="/"] .navbar-collapse .nav > li > a[href="/"],
[data-uri^="/guide"] .navbar-collapse .nav > li:nth-child(2) > a,
[data-uri^="/api"] .navbar-collapse .nav > li > a[href$="/api/"],
[data-uri^="/blog"] .navbar-collapse .nav > li > a[href^="/blog"],
[data-uri^="/about"] .navbar-collapse .nav > li > a[href^="/about"] {
  color: #fff;
  background: none;
}

[data-uri="/"] section[data-page-uri="/"],
[data-uri="/blog"] section[data-page-uri="/blog"],
[data-uri="/contact"] section[data-page-uri="/contact"],
[data-uri^="/guide"] section[data-page-uri^="/guide"],
[data-uri^="/api"] section[data-page-uri^="/api"],
[data-uri^="/about"] section[data-page-uri^="/about"],
[data-uri="/releases"] section[data-page-uri="/releases"],
[data-uri="/api/$method"] section[data-page-uri="/api/$method"] {
  display: block;
}

[data-uri="/api/$method"] section[data-page-uri="/api/index"] {
  display: none;
}

[data-page-uri="/api"] section [data-page-uri^="/api/index"] {
  display: none;
}

[data-uri="/api"] section [data-page-uri="/api"],
[data-uri="/api/"] section [data-page-uri="/api"],
[data-uri^="/api"] section [data-page-uri="/api/$method"],
[data-uri^="/api/"] section [data-page-uri^="/api/index"],
[data-uri^="/api/commands"] section [data-page-uri^="/api/commands"],
[data-uri^="/api/pageobject"] section [data-page-uri^="/api/pageobject"],
[data-uri^="/api/useractions"] section [data-page-uri^="/api/useractions"],
[data-uri^="/api/browser"] section [data-page-uri^="/api/browser"],
[data-uri^="/api/ensure"] section [data-page-uri^="/api/ensure"],
[data-uri^="/api/assert"] section [data-page-uri^="/api/assert"],
[data-uri^="/api/element"] section [data-page-uri^="/api/element"],
[data-uri^="/api/programmatic"] section [data-page-uri^="/api/programmatic"],
[data-uri^="/api/expect"] section [data-page-uri^="/api/expect"] {
  display: block;
}

[data-uri="/guide"] section [data-page-uri="/guide"],
[data-uri="/guide/"] section [data-page-uri="/guide/"],
[data-uri="/guide"] [data-page-uri^="/guide"],
[data-uri="/guide/"] [data-page-uri^="/guide/"],

[data-uri^="/guide/overview"] section [data-page-uri^="/guide/overview"],
[data-uri^="/guide/quickstarts"] section [data-page-uri^="/guide/quickstarts"],
[data-uri^="/guide/tutorials"] section [data-page-uri^="/guide/tutorials"],
[data-uri^="/guide/debugging"] section [data-page-uri^="/guide/debugging"],
[data-uri^="/guide/concepts"] section [data-page-uri^="/guide/concepts"],
[data-uri^="/guide/ci-integrations"] section [data-page-uri^="/guide/ci-integrations"],
[data-uri^="/guide/browser-drivers"] section [data-page-uri^="/guide/browser-drivers"],
[data-uri^="/guide/component-tests"] section [data-page-uri^="/guide/component-tests"],
[data-uri^="/guide/writing-tests"] section [data-page-uri^="/guide/writing-tests"],
[data-uri^="/guide/running-tests"] section [data-page-uri^="/guide/running-tests"],
[data-uri^="/guide/mobile-web-testing"] section [data-page-uri^="/guide/mobile-web-testing"],
[data-uri^="/guide/network-requests"] section [data-page-uri^="/guide/network-requests"],
[data-uri^="/guide/configuration"] section [data-page-uri^="/guide/configuration"],
[data-uri^="/guide/reporters"] section [data-page-uri^="/guide/reporters"],
[data-uri^="/guide/contributing"] section [data-page-uri^="/guide/contributing"],
[data-uri^="/guide/migrating-to-nightwatch"] section [data-page-uri^="/guide/migrating-to-nightwatch"],
[data-uri^="/guide/using-nightwatch"] section [data-page-uri^="/guide/using-nightwatch"],
[data-uri^="/guide/thirdparty-test-runners"] section [data-page-uri^="/guide/configuration"],
[data-uri^="/guide/using-page-objects"] section [data-page-uri^="/guide/using-page-objects"],
[data-uri^="/guide/extending-nightwatch"] section [data-page-uri^="/guide/extending-nightwatch"],
[data-uri^="/guide/nightwatch-cli"] section [data-page-uri^="/guide/nightwatch-cli"],
[data-uri^="/guide/reference"] section [data-page-uri^="/guide/reference"],
[data-uri^="/guide/resources"] section [data-page-uri^="/guide/resources"],
[data-uri^="/guide/ci-integrations"] section [data-page-uri^="/guide/ci-integrations"] {
  display: block;
}

[data-uri^="/guide/third-party-runners/"][data-uri$=".html"] section[data-page-uri^="/guide"] li.active a[href^="/guide/"][href$=".html"]+ul {
  /*display: block;*/
}

[data-uri="/about"] section [data-page-uri="/about"],
[data-uri="/about/"] section [data-page-uri="/about"],
[data-uri^="/about/contribute"] section [data-page-uri^="/about/contribute"],
[data-uri^="/about/community"] section [data-page-uri^="/about/community"] {
  display: block;
}

[data-uri="/"] .parallax {
  height: 100vh;
}

[data-uri="/contact"] .parallax,
[data-uri^="/api"] .parallax,
[data-uri^="/guide"] .parallax,
[data-uri^="/blog"] .parallax,
[data-uri^="/about"] .parallax,
[data-uri="/releases"] .parallax,
[data-uri="/api/$method"] .parallax {
  height: 250px;
}

[data-uri^="/api"] .parallax,
[data-uri^="/guide"] .parallax,
[data-uri="/api/$method"] .parallax {
  height: 75px;
}
[data-uri^="/api"] .parallax,
[data-uri^="/guide"] .parallax {
  display: none !important;
}

[data-uri="/api/$method"] .parallax #clouds,
[data-uri^="/api"] .parallax #moon,
[data-uri^="/guide"] .parallax #moon{
  display: none;
}

[data-uri^="/blog/article"] .parallax {
  height: 400px;
}

[data-uri="/contact"] .secondary,
[data-uri="/releases"] .secondary,
[data-uri^="/blog"] .secondary,
[data-uri^="/about"] .secondary {
  margin-top: -176px;
}

[data-uri^="/api"] .secondary,
[data-uri^="/guide"] .secondary,
[data-uri="/api/$method"] .secondary {
  margin-top: 0;
}
#api-container .jumbotron h1,
#apimethod-container .jumbotron h1,
#guide-container .jumbotron h1{
  display: none;
}
[data-uri="/"] .top-moon {
  background-size: 100%;
  /*background-position: calc(50% + 650px) -600px;*/
  background-position: calc(50% + 592px) -486px;
}

[data-uri="/contact"] .top-moon,
[data-uri="/releases"] .top-moon,
[data-uri^="/api"] .top-moon,
[data-uri^="/about"] .top-moon,
[data-uri^="/gettingstarted"] .top-moon,
[data-uri^="/guide"] .top-moon,
[data-uri^="/blog"] .top-moon,
[data-uri="/api/$method"] .top-moon {
  background-size: 1200px;
  background-position: calc(50% + 650px) -450px;
}

[data-uri="/"] .top-clouds {
  background-size: 100%;
  background-position: calc(50% - 100px) 100px;
}

[data-uri^="/guide"] .top-clouds,
[data-uri^="/blog"] .top-clouds,
[data-uri^="/api"] .top-clouds,
[data-uri^="/about"] .top-clouds,
[data-uri="/blog"] .top-clouds,
[data-uri="/contact"] .top-clouds,
[data-uri="/releases"] .top-clouds,
[data-uri^="/gettingstarted"] .top-clouds,
[data-uri="/api/$method"] .top-clouds {
  background-size: 80%;
  background-position: calc(101% - 100px) 48px;
}

[data-uri="/api/commands"] footer {
  display: none;
}

#about-container p {
  font-size: 18px;
  margin: 20px 0
}
#about-container .sponsor {
  background: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 12px rgba(0,0,0,.3);
}

#about-container .sponsor p,
#about-container .vision p {
  margin: 30px 0;
}
#about-container .vision p:first-child,
#about-container .sponsor p:first-child {
  margin-top: 10px;
}
#about-container .vision p:last-child,
#about-container .sponsor p:last-child {
  margin-bottom: 10px;
}
#about-container h3 span {
  display: block;
  padding: 10px;
  background-color: #eee;
  border: 0
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 150px;
  margin: 0 auto;
}
.oanabotezat .profile-pic{
  background-image: url(https://avatars2.githubusercontent.com/u/3843009?s=260&v=4);
}
.andreirusu .profile-pic{
  background-image: url(https://avatars2.githubusercontent.com/u/419506?s=260&v=4);
}
.domenico .profile-pic{
  background-image: url(https://avatars1.githubusercontent.com/u/1260402?s=260&v=4);
}
.vaibhav .profile-pic{
  background-image: url(https://avatars.githubusercontent.com/u/8705386?v=4);
}
.ravi .profile-pic{
  background-image: url(https://avatars.githubusercontent.com/u/28780767?v=4);
}
.dharin .profile-pic{
  background-image: url(https://avatars.githubusercontent.com/u/8616130?v=4);
}
#team h4 {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#team h6 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
#team p {
  text-align: center;
  height: 40px;
}
#team .social {
  display: inline-block;
  margin:2px;
  background-color: transparent;
  padding: 5px;
  width: 42px;
}
#team .social a {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  display: block;
}
#team .social.twitter a {
  background: url(../images/twitter.png) no-repeat;
}
#team .social.github a {
  background: url(../images/github.png) no-repeat;
}
#team .profile {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}
#about-container .roadmap h4 {
  font-size: 22px;
  font-weight: 500;
}
#community-content article {
  background: #f8f8f8;
  border: 1px solid #ddd;
  margin: 30px 0;
  padding-top:10px;
}
#community-content article h3 {
  margin: 0;
  padding-top: 0;
  font-size: 24px;
}
#community-content article h4 {
  margin: 5px 0;
  color:#777;
  font-size:16px;
}

#community-content article img {
  max-width: 250px;
  margin-top: 28px;
  margin-left: 10px;
}
#community-content article.featured img {
  max-width: 480px;
  margin-bottom: 28px;
}
#community-content article p {
  font-size: 16px;
}
#community-content article strong {
  font-weight: 200;
  color: #004444;
  font-size: 20px;
}
@media screen and (max-width: 1370px) {
  [data-uri^="/blog/article"] .parallax {
    height: 360px;
  }
  #blog-container.article {
    margin-top: -320px;
  }
}

@media screen and (min-width: 1120px) {
  #blog-container.article .docs-section {
    padding-left: 50px;
  }
}

.article hr {
  margin-top:40px;
}
.article .improve-article-bottom {
  font-size: 90%;
  display: block;
  background: #fff;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 182px;
  margin: 50px auto 20px;
}

[data-api-page^="/api/"] > .parallax {
  display: none;
}

[data-api-page^="/api/"][data-uri="/"] > .parallax {
  display: block;
}

/* New CSS */

/*------------- Firefox Scrollbar -------------------*/

#doc-sidebar-nav {
  scrollbar-width: 2px;
  scrollbar-color: #502D17 #502D17;
}
#doc-sidebar-nav:-webkit-scrollbar{ width: 2px; }
#doc-sidebar-nav:-webkit-scrollbar-track { background: #fff;}
#doc-sidebar-nav:-webkit-scrollbar-thumb { background: #502D17;border-radius: 0;}

.doc-container.full-width {
  padding: 0 1.5rem;
  max-width: 1768px;
  margin-left: auto;
  margin-right: auto;
}

.doc-container.top-border {
  border-top: 1px solid rgba(0,0,0,0.09);
}

.doc-container .doc-main-body {
  padding-left: 20px;
  padding-bottom: 65px;
}

.doc-container.top-border .doc-main-body {
  padding-top: 50px;
}

.doc-container.full-width .doc-main-body {
  border-right: 1px solid rgba(0,0,0,0.09);
  padding-right: 20px;
}

@media only screen and (max-width: 767px) {
  .doc-container.full-width {
    padding: 0px 15px 30px;
  }
  .doc-container.full-width .doc-main-body {
    padding: 15px 15px 30px;
  }
}

@media screen and (max-width: 1550px) {
  .doc-main-body {

  }
}


.doc-main-body h2 {
  font-family: var(--font-family-two);
  font-size: 35px;
  padding-bottom: 25px;
  font-weight: 700;
}
.doc-main-body h4,
.doc-main-body h5 {
  font-family: var(--font-family-two);
  font-size: 24px;
  font-weight: 600;
}

.doc-main-body h5 {
  font-size: 20px;
  margin-top: 40px;
}

[data-uri^="/guide/running-tests/"] .doc-main-body h3:before,
[data-uri^="/guide/browser-drivers/"] .doc-main-body h3:before {
  content: '🚀';
  display: inline-block;
  margin-left: -20px;
  margin-right: 10px;
  font-size: 20px;
  height: 24px;
  margin-top: -10px;
}

[data-uri^="/guide/browser-drivers/"] .doc-main-body h3:before {
  content: '📎';
}

.doc-main-body h3 {
  font-family: var(--font-family-two);
  font-size: 26px;
  font-weight: 600;
  margin: 50px -35px 10px;
  padding: 10px 35px;
  background: #eee;
}
[data-uri^="/api/$method"] .doc-main-body h3 {
  margin: 50px 0 10px;
}

@media only screen and (max-width: 991px) {
  .doc-main-body h2 {
    font-size: 30px;
  }

  .doc-main-body h3 {
    font-size: 22px;
  }
}


.doc-sideNav {
  top: 50px;
  padding-top: 50px;
  position: sticky;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
}

.doc-sideNav ul {
  list-style-type: none;
  padding-left: 20px;
}

.doc-sideNav a {
  display: block;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 5px;
  color: #767676;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

.doc-sideNav a.active {
  background-color: #DDA562;
  color: #fff;
}


#doc-sidebar-nav {
  max-height: 100vh;
  /* overflow-y: scroll; */
}

@media only screen and (min-width: 768px) {
  #doc-sidebar-nav {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  #doc-sidebar-nav {
    position: fixed;
    top: 79px;
    right: 0;
    height: 100%;
    background: #fff;
    width: 280px;
    border-left: 1px solid #E1E6EE;
    padding: 30px 15px 10px;
    max-height: calc(100vh - 79px);
  }
  #doc-sidebar-nav .nav.bs-sidenav li .btn {
    background: #fff;
  }
}

.toggle-visibility {
  opacity: 0;
}

.improve-article-bottom {
  color: #fff;
  background-color: #7ec699;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(224,224,224,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(224,224,224,1);
  box-shadow: 4px 4px 5px 0px rgba(224,224,224,1);
}

.improve-article-bottom:hover {
  color: #fff;
  background-color: #4fb073;
}

/* END New CSS */
