<!DOCTYPE html>
<html lang="en">
<head>
  <%- content['_includes_']['header'] %>
</head>
<body>
<section id="index-container" data-page-uri="/">
    <%- content['_sections_']['index'] %>
</section>
<%- content['_includes_']['footer'] %>
<%- content['_includes_']['scripts'] %>
</body>
</html>
