<div class="jumbotron">
  <div class="container" style="height:130px">
    <div class="row">
      <div class="col-md-8">
        <h1>About</h1>
      </div>
      <div class="col-md-4">
        <div class="container-carbon"></div>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="60" data-offset-bottom="330">
          <ul class="nav bs-sidenav">

            <li>
              <a href="/about/">About Nightwatch</a>
              <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#motivation">Motivation &amp; Vision</a></li>
                <li class="nav-item"><a class="nav-link" href="#roadmap">Roadmap</a></li>
                <li class="nav-item"><a class="nav-link" href="#support-us">Support Nightwatch</a></li>
                <li class="nav-item"><a class="nav-link" href="#the-team">The Team</a></li>
              </ul>
            </li>

            <li>
              <a href="/about/contribute/">Contributing</a>
              <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#contributing-guidelines">Contributing Guidelines</a></li>
                <li class="nav-item"><a class="nav-link" href="#writing-docs">Writing Docs &amp; Examples</a></li>
                <li class="nav-item"><a class="nav-link" href="#become-a-contributor">Become a Contributor</a></li>
              </ul>
            </li>

            <li>
              <a href="/about/community/">Community</a>
              <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#community-assistance">Getting Assistance</a></li>
                <li class="nav-item"><a class="nav-link" href="#community-articles">Articles &amp; Guides</a></li>
                <li class="nav-item"><a class="nav-link"><a href="#community-projects">Open-source Projects</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9" role="main">
        <div class="docs-section" data-page-uri="/about">
          <div class="page-header">
            <h2 id="motivation">About Nightwatch</h2>
          </div>
          <p>Nightwatch was published in January 2014, initially created by <a rel="noreferrer" href="https://twitter.com/andreirusu_" target="_blank">Andrei Rusu</a> as a tool to enable writing of automated UI tests in a straightforward way, and which will require as little configuration and additional libraries as possible.</p>
          <p>
            Right after it was published, <strong>Nightwatch</strong> has seen steady growth and has now become one of the most popular Node.js end-to-end testing solutions for web applications and websites.
          </p>

          <p>
            From the very <a href="https://github.com/nightwatchjs/nightwatch/issues/1" rel="noreferrer" target="_blank">first Github Issue</a> opened by <a rel="noreferrer" href="https://twitter.com/youyuxi" target="_blank">Evan You</a> (creator of <a href="https://vuejs.org" rel="noopener" target="_blank">Vue.js</a>) and seamless integration with the Vue.js framework, to being featured on the <a href="https://twitter.com/nightwatchjs/status/920585197137088512" rel="noreferrer" target="_blank">2017 ThoughtWorks Technology Radar</a>,
            <strong>Nightwatch</strong> has become an established household name in the wider automated testing industry.
          </p>

          <h3><span>Our Vision</span></h3>
          <div class="vision">
          <p>
            Instead of building a highly flexible tool which supports a lot of plugins and customization we aim to deliver a tool that is packed with everything you need out of the box.
          </p>

          <p>
            We believe that in order to write tests you should only focus on writing tests and not have to add multiple external plugins and dependencies. In our experience, this usually leads to increasingly more time spent on maintaining dependencies and solving configuration issues, instead of writing actual tests.
          </p>
          <p>
            We do however provide mechanisms to <a href="/guide/extending-nightwatch/">extend the existing API commands and assertions</a> when needed and you can also <a href="/guide/running-tests/#programmatic-api">use Nightwatch programmatically</a> if you wish.
            We also do our best to ensure that Nightwatch follows an industry agreed upon practice and we try to be compatible with other existing tools.
          </p>

          <p>
            You can even write <a href="/guide/unit-testing-with-nightwatch/">Node.js unit tests</a> in Nightwatch to test your backend APIs. These tests are using the same assertion libraries and the same syntax and runner.
            We can even combine end-to-end tests with unit/integration tests in the same test run.
          </p>

          </div>

          <div class="page-header" style="margin-top: 20px">
            <h2 id="roadmap">Roadmap</h2>
          </div>
          <div class="roadmap">
            <h4>Current Version – 1.4</h4>

            <p>This version brings a major network stability improvement, which should be particularly visible when using remote testing services, like Selenium Grid or BrowserStack/SauceLabs etc.</p>

            <h4>Version 2</h4>
            <p>The next major release is scheduled for this fall and will contain support for our own cloud testing platform <a href="https://nightcloud.io">Nightcloud.io</a>. Development has been going on for the past two years, slowly but surely moving forward.</p>
            <p>We have made the decision to grow the platform organically, without using external funding. We are building <strong>Nightcloud</strong> at the same time that we maintaining <strong>Nightwatch</strong> and we hope to be ready with the Beta release by the end of 2020.</p>
            <p>We are however open to partnership suggestions and we'd be happy to discuss any ideas or proposals. <a href="https://pineview.io/#contact" target="_blank">Drop us a line</a> if you're interested in partnering with us for the development of Nightcloud.</p>
          </div>

          <div class="page-header">
            <h2 id="support-us">Support Nightwatch</h2>
          </div>
          <div class="sponsor">
          <p>
            <strong>Nightwatch</strong> is maintained by an <a href="https://pineview.io" target="_blank">independent software consultancy</a> based in Oslo, Norway, without any major corporate developer powerhouse behind it, nor any VC to influence its roadmap.
            The maintainers and the larger community of users and contributors have sole responsibility for the roadmap and direction of Nightwatch.
          </p>

          <p>
            However, the team behind Nightwatch spends <i>dozens</i> (often hundreds) of hours per month working on <i>bug fixes</i>, <i>enhancements</i>, <i>verifying PRs and issues on Github</i>, <i>writing documentation</i>, <i>answering support requests</i> and other maintenance tasks.
            We are doing this for over five years now and will continue to do so, but your support could boost our efforts and it would enable us to spend even more time on developing the framework.
          </p>

          <p>
            There are several ways in which your company (or you as an individual) can support Nightwatch financially. You can become a backer or your company can sponsor Nightwatch on the <a href="https://opencollective.com/nightwatch"><strong>Open Collective</strong></a> platform (or an alternative sponsorship platform).
            You can also hire the <a href="https://pineview.io/about">Core Team</a> to provide training and consulting for your project.
          </p>
          </div>

          <div class="page-header" style="margin-top: 20px">
            <h2 id="the-team">The Team</h2>
          </div>

          <div class="row" id="team">

            <div class="col-md-3">
              <div class="profile andreirusu">
                <div class="profile-pic"></div>
                <h4>Andrei Rusu</h4>
                <h6>Maintainer</h6>
                <p>
                  <span class="twitter social"><a href="https://twitter.com/andreirusu_/" target="_blank" title="Andrei Rusu on Twitter"></a></span>
                  <span class="github social"><a href="https://github.com/beatfactor" target="_blank" title="Andrei Rusu on Twitter"></a></span>
                </p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="profile oanabotezat">
                <div class="profile-pic"></div>
                <h4>Oana Botezat</h4>
                <h6>Maintainer</h6>
                <p>
                  <span class="twitter social"><a href="https://twitter.com/obotezat/" target="_blank" title="Oana Botezat on Twitter"></a></span>
                  <span class="github social"><a href="https://github.com/oanabotezat" target="_blank" title="Oana Botezat on Twitter"></a></span>
                </p>
              </div>
            </div>
<% /*
            <div class="col-md-3">
              <div class="profile domenico">
                <div class="profile-pic"></div>
                <h4>Domenico Gemoli</h4>
                <h6>Collaborator</h6>
                <p>
                  <span class="twitter social"><a href="https://twitter.com/aberonni/" target="_blank" title="Domenico Gemoli on Twitter"></a></span>
                  <span class="github social"><a href="https://github.com/aberonni" target="_blank" title="Domenico Gemoli on Twitter"></a></span>
                </p>
              </div>
 */ %>
            </div>
          <p style="margin-top: 50px">
            <a href="/about/contribute" class="btn btn-primary btn-lg btn-twitter">Become a Contributor</a>
          </p>
        </div>


        <div class="docs-section" data-page-uri="/about/contribute">
          <div class="page-header">
            <h2 id="contributing-guidelines">Contributing to Nightwatch</h2>
          </div>

          <p>Report any bugs or feature requests on <a href="https://github.com/nightwatchjs/nightwatch/issues" target="_blank">GitHub</a>.
            Please review the <a href="https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md" target="_blank">Contributing Guidelines</a> before submitting a new issue.</p>
          <h3>Documentation</h3>

          <p>Issues with the documentation, such as inconsistencies, typos or mistakes can be reported on the <a
                    href="https://github.com/nightwatchjs/nightwatch-docs" target="_blank">Docs Github repository</a>.</p>

          <p>
            If you'd like to contribute API command examples, you can do so by adding them in this folder:
            <a href="https://github.com/nightwatchjs/nightwatch-docs/tree/master/api/method">github.com/nightwatchjs/nightwatch-docs/tree/master/api/method</a>.
            These are automatically built into the individual API command pages.
          </p>
          <br>
          <p>
            For example, the
            <a href="https://nightwatchjs.org/api/clearValue.html">clearValue</a> page is built out of: <a
                    href="https://github.com/nightwatchjs/nightwatch-docs/blob/master/api/method/clearValue.md" target="_blank">github.com/nightwatchjs/nightwatch-docs/blob/master/api/method/clearValue.md</a>.
          </p>

        </div>

        <div class="docs-section" data-page-uri="/about/community" id="community-content">
          <div class="page-header">
            <h2 id="community-assistance">Getting Assistance</h2>
          </div>

          <p>You're encouraged to ask any questions you might have regarding the usage of Nightwatch or its API on the
          <a href="https://groups.google.com/forum/#!forum/nightwatchjs" target="_blank">Mailing List</a> or on <a
                  href="https://twitter.com/nightwatchjs" target="_blank">Twitter</a>.
          In addition, there is a <a href="https://stackoverflow.com/questions/tagged/nightwatch.js">StackOverflow Nightwatch.js tag</a> at your disposal.</p>

          <div class="page-header">
            <h2 id="community-articles">Articles &amp; Tutorials</h2>
          </div>

          <p>
            A curated list of articles, guides, and video tutorials from the wider Nightwatch community.
            Please note that the videos and articles listed here aren't created by the Nightwatch team and we cannot guarantee their full accuracy.
          </p>

          <article class="row border featured rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-lg-6 col-md-4 d-none d-lg-block">
              <img src="https://img.youtube.com/vi/LrI4HMXoZeM/0.jpg" alt="" />
            </div>
            <div class="col-lg-6 col-md-8 p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Video Course</strong>
              <h3><a href="https://testautomationu.applitools.com/nightwatchjs-tutorial/" target="_blank">Introduction to NightwatchJS</a></h3>
              <div class="mb-1 text-muted">Published on Aug 28, 2020 by <a href="https://twitter.com/irtimid_harding" target="_blank">Dimitri Harding</a></div>
              <p class="card-text mb-auto">A complete video course on learning to automate web UI tests with Nightwatch from the <a href="https://testautomationu.applitools.com/" target="_blank">Test Automation University</a>.</p>
              <p>The course covers things like:
                <ul>
                  <li>Installing and configuring Nightwatch</li>
                  <li>An overview of test runners, APIs, user actions and prompts</li>
                  <li>Using assertions, globals, and test hooks</li>
                  <li>Writing tests and running them</li>
                  <li>Reporting and debugging</li>
                </ul>
              </p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://i.ytimg.com/vi/gJvAbGYP-H8/hqdefault.jpg" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Video</strong>
              <h3><a href="https://www.youtube.com/watch?v=gJvAbGYP-H8" target="_blank">Advanced Nightwatch.js testing using the Page Object Model and Command API</a></h3>
              <div class="mb-1 text-muted">Published on Apr 27, 2020 by <a href="https://twitter.com/reallymello" target="_blank">David Mello</a></div>
              <p class="card-text mb-auto">A step-by-step guide on how to refactor Nightwatch test cases to use the Page Object model API and page commands.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://i.ytimg.com/vi/nSodkqB-838/hqdefault.jpg" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Video</strong>
              <h3><a href="https://www.youtube.com/watch?v=nSodkqB-838" target="_blank">Accessibility testing using Nightwatch.js automation with Axe</a></h3>
              <div class="mb-1 text-muted">Published on Jan 27, 2020 by <a href="https://twitter.com/reallymello" target="_blank">David Mello</a></div>
              <p class="card-text mb-auto">Learn how to write automated accessibility tests using Nightwatch and the <a href="https://www.deque.com/axe/" target="_blank">Axe accessibility tool</a>. The tutorial will explain how to write assertions for web content accessibility guidelines and detect elements which are failing accessibility rules.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://i.ytimg.com/vi/EeIsAoxvwxo/hqdefault.jpg" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Video</strong>
              <h3><a href="https://www.youtube.com/watch?v=EeIsAoxvwxo" target="_blank">Why is (end-to-end) testing important (to me)?</a></h3>
              <div class="mb-1 text-muted">Published on Mar 24, 2019 by <a href="https://twitter.com/aberonni" target="_blank">Domenico Gemoli</a></div>
              <p class="card-text mb-auto">Nightwatch collaborator Domenico explains why end-to-end testing (and also other forms of testing) is an important topic to him.
                A good explanation of the testing pyramid concept and a good introduction to automated testing.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://i.ytimg.com/vi/EIyOmmqeODA/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLButmxlUzXmMxJeBWEPf8s6BMa4RQ" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Video</strong>
              <h3><a href="https://www.youtube.com/watch?v=EIyOmmqeODA" target="_blank">End-to-end testing with NightwatchJS #6: Running tests in Browserstack</a></h3>
              <div class="mb-1 text-muted">Published on Mar 24, 2019 by <a href="https://twitter.com/aberonni" target="_blank">Domenico Gemoli</a></div>
              <p class="card-text mb-auto">Domenico demonstrates how to run end-to-end tests with Nightwatch using the <a href="https://www.browserstack.com/" target="_blank">Browserstack</a> cloud testing platform.
                You can find other Nightwatch-related coding videos on his <a href="https://www.youtube.com/channel/UC1bvBZB7iL2goVOxSALVbCg/videos" target="_blank">Youtube channel</a>.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://www.lambdatest.com/blog/wp-content/uploads/2020/06/Nightwatch-JS-1.jpg" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Article</strong>
              <h3><a href="https://www.lambdatest.com/blog/introduction-to-nightwatch-js-for-selenium-testing/" target="_blank">Introduction To Nightwatch.js For Selenium Testing</a></h3>
              <div class="mb-1 text-muted">Published on June 29, 2020 by Rahul Rana</div>
              <p class="card-text mb-auto">A rundown of the main features, how it works, and capabilities of Nightwatch.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://miro.medium.com/max/660/1*PMx1-QDiFpgPkP4n-o6NyQ.png" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Article</strong>
              <h3><a href="https://medium.com/kaliop/end-to-end-testing-with-nightwatch-js-a821ad787fa4" target="_blank">End-to-end testing with Nightwatch.js</a></h3>
              <div class="mb-1 text-muted">Published on Mar 6, 2019 by <a href="https://medium.com/@cavalet.pierre" target="_blank">Pierre Cavalet</a></div>
              <p class="card-text mb-auto">A good introductory article of the main features and capabilities of Nightwatch.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://miro.medium.com/max/2048/1*Mf1_soL6gjVany4H_WX1EQ.png" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Article</strong>
              <h3><a href="https://blog.percy.io/visual-testing-in-nightwatch-js-with-percy-1b68c122cf94" target="_blank">Visual testing in Nightwatch.js with Percy</a></h3>
              <div class="mb-1 text-muted">Published on Dec 13, 2018 by <a href="https://twitter.com/d_jones" target="_blank">David Jones</a></div>
              <p class="card-text mb-auto"><a href="https://percy.io" target="_blank">Percy.io</a> engineer, David Jones, gives an introduction on how you can add Percy snapshots to your Nightwatch.js tests for automated visual testing.</p>
            </div>
          </article>

          <article class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
              <img src="https://www.lullabot.com/sites/default/files/styles/promo_medium/public/eagle-owl-bubo-bubo-pysgekj.jpg?itok=wazWUi3h" alt="" />
            </div>
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2">Article</strong>
              <h3><a href="https://www.lullabot.com/articles/nightwatch-in-drupal-core" target="_blank">Nightwatch in Drupal Core</a></h3>
              <div class="mb-1 text-muted">Published on May 11, 2018 by <a href="https://twitter.com/justafish" target="_blank">Sally Young</a></div>
              <p class="card-text mb-auto">Core JavaScript maintainer for popular <a href="https://www.drupal.org/" target="_blank">Drupal CMS</a>, Sally Young gives an account about integrating Nightwatch in Drupal 8.6.</p>
            </div>
          </article>

          <div class="page-header">
            <h2 id="community-projects">Open-Source Projects</h2>
            <article class="row">
              <div class="col-xs-9">
                <h3><a href="https://github.com/mozilla/ensemble" target="_blank">Ensemble by Mozilla</a></h3>
                <p>The platform that powers the <a href="https://data.firefox.com/" target="_blank">Firefox Public Data Report</a>, a weekly public report on the activity, behavior, and hardware configuration of Firefox Desktop users.
                  Built with React and using Nightwatch <strong>v1.2</strong></p>
              </div>
            </article>

            <article class="row">
              <div class="col-xs-9">
                <h3><a href="https://github.com/ansible/awx/tree/devel/awx/ui/test/e2e" target="_blank">AWX by Ansible</a></h3>
                <p><a href="https://github.com/ansible/awx" target="_blank">AWX</a> provides a web-based user interface, REST API, and task engine built on top of <a href="https://github.com/ansible/ansible" target="_blank">Ansible</a>. AWX is built in Python and uses Nightwatch <strong>v0.9</strong>.</p>
              </div>
            </article>

            <article class="row">
              <div class="col-xs-9">
                <h3><a href="https://github.com/nasa-gibs/worldview" target="_blank">Worldview by NASA</a></h3>
                <p><a href="https://worldview.earthdata.nasa.gov/" target="_blank">Worldview</a> is an interactive interface for browsing global, full-resolution satellite imagery. Built with React and using Nightwatch <strong>v0.9</strong>.</p>
              </div>
            </article>

            <article class="row">
              <div class="col-xs-9">
                <h3><a href="https://github.com/webrtc/samples" target="_blank">WebRTC Samples by WebRTC Group</a></h3>
                <p>The <a href="https://webrtc.github.io/samples/" target="_blank">WebRTC samples</a> This is a collection of small samples demonstrating various parts of the WebRTC APIs. Uses Nightwatch <strong>v1.1</strong>.</p>
              </div>
            </article>

            <article class="row">
              <div class="col-xs-9">
                <h3><a href="https://github.com/browserstack/nightwatch-browserstack" target="_blank">nightwatch-browserstack by BrowserStack</a></h3>
                <p>Examples for running Nightwatch tests against <a href="https://www.browserstack.com" target="_blank">BrowserStack Automate</a> infrastructure. Uses Nightwatch <strong>v1.0</strong></p>
              </div>
            </article>
          </div>

          <p>Feel free to <a href="https://twitter.com/nightwatchjs">tip us off</a> about any articles or open source projects that we should list on this page.</p>
        </div>

      </div>
    </div>
  </div>
</div>

