<div class="background">
  <div class="container bs-docs-container">
     <div class="row">
       <div class="col-md-3">

         <div class="bs-sidebar hidden-print" role="complementary">
             <%- content['_includes_']['api-sidebar'] %>
         </div>
       </div>

      <div class="col-md-9 api-container" role="main">
        <div class="docs-section" data-page-uri="/api/<%- subPageName %>">
            <div class="page-content"><%- pageContent %></div>
        </div>
      </div>

    </div>
  </div>
</div>
