<div class="doc-container full-width top-border background">
  <div class="clearfix">
     <div class="row flex-xl-nowrap no-gutters">

     <div class="col-md-3 col-xl-2 doc-sidebar bs-sidebar hidden-print" role="complementary">
         <%- content['_includes_']['api-sidebar'] %>
     </div>

      <div class="col-md-9 col-xl-8 doc-main-body" role="main">
        <div class="docs-section" data-page-uri="/api/<%- subPageName %>">
            <div class="page-content"><%- pageContent %></div>
        </div>
      </div>
    </div>
  </div>
</div>
