<div class="jumbotron">
  <div class="container" style="height:130px">
    <div class="row">
      <div class="col-md-8">
        <h1>Contact</h1>
      </div>
      <div class="col-md-4">
        <div class="carbonad"></div>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-9" role="main">
        <div class="docs-section">
          <div class="page-header">
            <h2>Contact</h2>
          </div>
          <p>Report any bugs or feature requests on <a href="https://github.com/nightwatchjs/nightwatch/issues"
                                                                target="_blank">GitHub</a>.
            Please review the <a
            href="https://github.com/nightwatchjs/nightwatch/blob/master/.github/CONTRIBUTING.md" target="_blank">Contributing
            Guidelines</a> before submitting a new issue.</p>
          <h3>Documentation</h3>

          <p>Issues with the documentation, such as inconsistencies, typos or mistakes can be reported on the <a
                    href="https://github.com/nightwatchjs/nightwatch-docs" target="_blank">Docs Github repository</a>.</p>

          <p>
            If you'd like to contribute API command examples, you can do so by adding them in this folder:
            <a href="https://github.com/nightwatchjs/nightwatch-docs/tree/master/api/method">github.com/nightwatchjs/nightwatch-docs/tree/master/api/method</a>.
            These are automatically built into the individual API command pages.
          </p>
          <br>
          <p>
            For example, the
            <a href="https://nightwatchjs.org/api/clearValue.html">clearValue</a> page is built out of: <a
            href="https://github.com/nightwatchjs/nightwatch-docs/blob/master/api/method/clearValue.md" target="_blank">github.com/nightwatchjs/nightwatch-docs/blob/master/api/method/clearValue.md</a>.
          </p>
        </div>

        <div class="docs-section">
          <h3>Getting Assistance</h3>
          <p>You're encouraged to ask any questions you might have regarding the usage of Nightwatch or its API on the
            <a href="https://groups.google.com/forum/#!forum/nightwatchjs" target="_blank">Mailing List</a> or on <a
              href="https://twitter.com/nightwatchjs" target="_blank">Twitter</a>.
            In addition, there is a <a href="https://stackoverflow.com/questions/tagged/nightwatch.js">StackOverflow Nightwatch.js tag</a> at your disposal.</p>
        </div>

        <div class="docs-section">
          <h3>Pull Requests</h3>
          <p>Contributions to Nightwatch are welcome, but please review the <a
            href="https://github.com/nightwatchjs/nightwatch/blob/master/CONTRIBUTING.md#submitting-a-pull-request"
            target="_blank">Contributing Guidelines</a> beforehand to avoid your pull request getting delayed or
            declined.
        </div>

        <div class="docs-section">
          <div class="page-header">
            <h2>Consulting &amp; Training</h2>
          </div>

          <p>
            Nightwatch.js is being developed with ❤️ since 2014 by <a href="https://pineview.io">Pine View</a> - an independent consultancy based in Oslo, Norway with help from <a href="https://github.com/nightwatchjs/nightwatch/graphs/contributors" target="_blank">its contributors</a>.
          </p>

          <h3>Get in Touch</h3>
          <p>You can hire us if you need expert, enterprise-level advice, training or assistance with your project. Head over to
            <a href="https://pineview.io">our website</a> and let us know. We work with companies on large scale
            projects which require deeper integration and more tailor made solutions.</p>

          <h3>Becoming a Sponsor</h3>
          <p>If you're interested in supporting Nightwatch financially, you can become a sponsor on the <a
            href="https://opencollective.com/nightwatch">OpenCollective</a> platform.</p>

          <p>Your support can accelerate the development of Nightwatch, allow us to spend more time on issues, new
            features and documentation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
