<div class="doc-container full-width top-border background">
  <div class="clearfix">
    <div class="row flex-xl-nowrap no-gutters">
      <div class="col-md-3 col-xl-2 doc-sidebar bs-sidebar hidden-print" role="complementary">
<!--
=============================================
    Sidebar
==============================================
-->
        <div class="filter-container">
          <input type="search" id="sidebar-filter" autocomplete="off"  placeholder="Filter by title"/>
          <ul class="filter-list"></ul>
        </div>

        <div class="clearfix">
          <button class="btn btn-link d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doc-sidebar-nav" aria-controls="doc-sidebar-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
          </button>
        </div>

        <nav class="doc-links collapse clearfix nav-fix" id="doc-sidebar-nav">
          <ul class="nav bs-sidenav">
            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#index-collapse" aria-expanded="false">
                <a href="/guide/overview/">Overview</a>
              </button>

              <div class="collapse" id="index-collapse" data-section-url="/guide/overview/">
                <ul class="btn-toggle-nav">
                  <li><a href="/guide/overview/what-is-nightwatch.html">What is Nightwatch?</a></li>
                  <li><a href="/guide/overview/what-is-webdriver.html">What is WebDriver?</a></li>
                  <li class="nav-item"><a href="/guide/overview/whats-new-in-v2.html">What’s new in v2?</a></li>
                </ul>
              </div>

            </li>

            <li>
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#quickstarts-collapse" aria-expanded="false">
                <a href="/guide/quickstarts/">Quickstarts</a>
            </button>

            <div class="collapse" id="quickstarts-collapse" data-section-url="/guide/quickstarts/">
              <ul class="btn-toggle-nav">
                <li><a href="/guide/quickstarts/create-and-run-a-nightwatch-test.html">Create and run your first Nightwatch test</a>
                </li>

                <li><a href="/guide/quickstarts/create-and-run-a-test-with-selenium-server.html">Run a test with Selenium Server</a>
                </li>

               <li><a href="/guide/quickstarts/create-and-run-a-test-with-cloud-providers.html">Create and run a test with a cloud provider</a></li>
              </ul>
            </div>

            </li>


            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#concepts-collapse" aria-expanded="false">
                <a href="/guide/concepts/">Concepts</a>
              </button>

              <div class="collapse" id="concepts-collapse" data-section-url="/guide/concepts/">
                <ul class="btn-toggle-nav">
<!--                  <li><a href="/guide/concepts/what-is-end-to-end-testing.html">What is end-to-end testing?</a></li>-->
<!--                  <li><a href="/guide/concepts/introduction-to-selenium-and-webdriver.html">Introduction to Selenium and Webdriver</a></li>-->
                  <li><a href="/guide/concepts/test-environments.html">Test environments</a></li>
                  <li><a href="/guide/concepts/test-globals.html">Test globals</a></li>
                  <li><a href="/guide/concepts/session-capabilities.html">Session capabilities</a></li>
                  <li><a href="/guide/concepts/parallel-testing-in-nightwatch.html">Parallel testing in Nightwatch</a>
                    <!-- <ul class="nav">
                    <li><a href="/guide/concepts/parallel-testing-in-nightwatch.html#using-test-workers">Using test workers</a></li>
                    <li><a href="/guide/concepts/parallel-testing-in-nightwatch.html#using-multiple-environments">Using multiple environments</a></li>
                  </ul> -->
                  </li>

                  <li><a href="/guide/concepts/page-object-model.html">Page Object Model</a>
                    <!-- <ul class="nav">
                    <li><a href="/guide/concepts/page-object-model.html#overview">Overview</a>
                    </li>
                    <li><a href="/guide/concepts/page-object-model.html#elements">Elements</a>
                    </li>
                    <li><a href="/guide/concepts/page-object-model.html#sections">Sections</a>
                    </li>
                    <li><a href="/guide/concepts/page-object-model.html#page-specific-custom-commands">Page-specific custom commands</a></li>
                  </ul> -->
                  </li>

                  <li><a class="nav-link active" href="/guide/concepts/component-testing.html">Component testing</a>
                    <!-- <ul class="nav">
                   <li><a href="/guide/concepts/component-testing.html#what-is-component-testing">What is component testing?</a></li>
                   <li><a href="/guide/concepts/component-testing.html#component-testing-in-nightwatch">Component testing in Nightwatch</a></li>
                 </ul> -->
                  </li>
                </ul>
              </div>
            </li>

            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#howto-collapse" aria-expanded="false">
                <a href="/guide/">How-to guides</a>
              </button>

              <div class="collapse" id="howto-collapse" data-section-url="/guide/">
                <ul class="btn-toggle-nav toggle-nav-inner">

                    <li>
                        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#configuration-collapse" aria-expanded="false">
                            <a href="/guide/configuration/">Configure</a>
                        </button>

                        <div class="collapse" id="configuration-collapse" data-section-url="/guide/configuration/">
                            <ul class="btn-toggle-nav">
                                <li><a href="/guide/configuration/nightwatch-configuration-file.html">Nightwatch configuration file</a></li>
                                <li><a href="/guide/configuration/define-test-environments.html">Define test environments</a></li>
                                <li><a href="/guide/configuration/using-env-variables-in-your-config.html">Use ENV variables</a></li>
                                <li><a href="/guide/configuration/taking-screenshots-on-fail.html">Take screenshots on test failure</a></li>
                                <li><a href="/guide/configuration/customising-test-output.html">Test output</a></li>
                                <li><a href="/guide/configuration/advanced-test-source-filtering.html">Advanced test source filtering</a></li>
                                <li><a href="/guide/configuration/web-driver-settings.html">WebDriver settings</a></li>
                                <li><a href="/guide/configuration/selenium-settings.html">Selenium settings</a></li>
                                <li><a href="/guide/configuration/browser-stack-settings.html">Configure BrowserStack settings</a></li>
                                <li><a href="/guide/configuration/aws-devicefarm-settings.html">Configure AWS Device Farm</a></li>
                            </ul>
                        </div>
                    </li>

                  <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#writing-tests-collapse" aria-expanded="false">
                      <a href="/guide/writing-tests/">Write tests</a>
                    </button>

                    <div class="collapse" id="writing-tests-collapse" data-section-url="/guide/writing-tests/">
                      <ul class="btn-toggle-nav">
                        <li><a href="/guide/writing-tests/test-syntax-bdd.html">BDD test syntax</a></li>
                        <li><a href="/guide/writing-tests/test-syntax-exports.html">Exports test syntax</a></li>
                        <li><a href="/guide/writing-tests/using-es-6-async-await.html">Use ES6 async/await</a></li>

                        <li><a href="/guide/writing-tests/finding-interacting-with-dom-elements.html">Find &amp; interact with DOM elements</a></li>
                          <li><a href="/guide/writing-tests/adding-assertions.html">Add assertions</a></li>
                        <li><a href="/guide/writing-tests/using-xpath-selectors.html">Use Xpath selectors</a></li>
                        <li><a href="/guide/writing-tests/write-complex-user-actions.html">Write complex user actions</a></li>
                        <% /* <li><a href="/guide/writing-tests/understanding-element-visibility.html">Understand element visibility</a></li> */ %>
                        <li><a href="/guide/writing-tests/using-cucumberjs.html">Use CucumberJS</a></li>
                        <li><a href="/guide/writing-tests/using-mocha.html">Use Mocha as a test runner</a></li>
                        <li><a href="/guide/writing-tests/using-test-hooks.html">Use test hooks</a></li>
                        <li><a href="/guide/writing-tests/using-test-globals.html">Use test globals</a></li>
                        <li><a href="/guide/writing-tests/global-test-hooks.html">Use global hooks</a></li>
                        <li><a href="/guide/writing-tests/write-component-tests-for-react.html">Write component tests (React)</a></li>
                        <li><a href="/guide/writing-tests/write-nodejs-unit-integration-tests.html">Write unit &amp; integration tests</a></li>
                      </ul>
                    </div>
                  </li>

                  <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#runningtests-collapse" aria-expanded="false">
                      <a href="/guide/running-tests/">Run tests</a>
                    </button>

                    <div class="collapse" id="runningtests-collapse" data-section-url="/guide/running-tests/">
                      <ul class="btn-toggle-nav">
                        <li><a href="/guide/running-tests/using-the-cli-test-runner.html">Use the CLI test runner</a></li>
                          <% /* <li><a href="/guide/running-tests/choosing-a-test-runner.html">Choose a test runner</a></li>
                        <li><a href="/guide/running-tests/specifying-test-sources.html">Specify test sources</a></li>
                        <li><a href="/guide/running-tests/controlling-test-failure-behaviour.html">Control test failure behaviour</a></li>
                        */ %>
                        <li><a href="/guide/running-tests/skipping-disabling-tests.html">Skip / disable tests</a></li>
                        <li><a href="/guide/running-tests/parallel-running.html">Run tests in parallel</a></li>
                        <li><a href="/guide/running-tests/filtering-by-test-tags.html">Filter by test tags</a></li>
                        <li><a href="/guide/running-tests/using-with-test-groups.html">Use test groups</a></li>
                        <li><a href="/guide/running-tests/programmatic-api.html">Use the programmatic API</a></li>
                        <li><a href="/guide/running-tests/capture-console-messages.html">Capture browser logs</a></li>
                        <li><a href="/guide/running-tests/catch-js-exceptions.html">Capture browser exceptions</a></li>
                        <li><a href="/guide/running-tests/take-heap-snapshot.html">Take heap snapshot</a></li>
                      </ul>
                    </div>

                  </li>

                <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#debugtests-collapse" aria-expanded="false">
                        <a href="/guide/debugging-tests/">Debug tests</a>
                    </button>

                    <div class="collapse" id="debugtests-collapse" data-section-url="/guide/debugging-tests/">
                        <ul class="btn-toggle-nav">
                            <li><a href="/guide/debugging-tests/overview.html">Overview</a></li>
                            <li><a href="/guide/debugging-tests/using-pause.html">Use .pause()</a></li>
                            <li><a href="/guide/debugging-tests/using-debug.html">Use .debug()</a></li>
                        </ul>
                    </div>
                </li>

                  <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#ci-integrations-collapse" aria-expanded="false">
                      <a href="/guide/ci-integrations/">Run on CI Servers</a>
                    </button>

                    <div class="collapse" id="ci-integrations-collapse" data-section-url="/guide/ci-integrations/">
                      <ul class="btn-toggle-nav">
                        <li><a href="/guide/ci-integrations/run-nightwatch-on-jenkins.html">Jenkins</a></li>
                      </ul>
                    </div>
                  </li>

                  <% /*
                  <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#usingnightwatch-collapse" aria-expanded="false">
                      <a href="/guide/using-nightwatch/">Using Nightwatch</a>
                    </button>

                    <div class="collapse" id="usingnightwatch-collapse" data-section-url="/guide/using-nightwatch/">
                      <ul class="btn-toggle-nav">
                        <li><a href="/guide/using-nightwatch/simulating-complex-user-actions.html">Simulating complex user actions</a></li>
                        <li><a href="/guide/using-nightwatch/taking-screenshots.html">Taking screenshots</a></li>
                        <li><a href="/guide/using-nightwatch/page-loading-strategies.html">Page loading strategies</a></li>
                        <li><a href="/guide/using-nightwatch/how-do-find-an-element-by-xpath.html">How do find an element by Xpath</a></li>
                        <li><a href="/guide/using-nightwatch/working-with-cookies.html">Working with cookies</a></li>
                        <li><a href="/guide/using-nightwatch/working-with-form-elements.html">Working with form elements</a></li>
                        <li><a href="/guide/using-nightwatch/working-with-file-uploads-and-downloads.html">Working with file uploads and downloads</a></li>
                        <li><a href="/guide/using-nightwatch/working-with-shadow-root-elements.html">Working with ShadowRoot elements</a></li>
                        <li><a href="/guide/using-nightwatch/testing-single-sign-on-sso.html">Testing Single Sign-on (SSO)</a></li>
                      </ul>
                    </div>
                  </li>

                  <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#thirdparty-collapse" aria-expanded="false">
                      <a href="/guide/third-party-test-runners/">Third-party test runners</a>
                    </button>

                    <div class="collapse" id="thirdparty-collapse" data-section-url="/guide/third-party-test-runners/">
                      <ul class="btn-toggle-nav">
                        <li><a href="/guide/third-party-test-runners/cucumber-cli-as-a-test-runner.html">Cucumber CLI as a test runner</a></li>
                        <li><a href="/guide/third-party-test-runners/mocha-as-a-test-runner.html">Mocha as a test runner</a></li>
<!--                        <li><a href="/guide/thirdparty-test-runners/jest.html">Jest</a></li>-->
<!--                        <li><a href="/guide/using-third-party-test-runners/ava.html">Ava</a></li>-->
                      </ul>
                    </div>

                  </li>
                  */ %>


                <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#networkrequests-collapse" aria-expanded="false">
                        <a href="/guide/network-requests/">Network requests</a>
                    </button>

                    <div class="collapse" id="networkrequests-collapse" data-section-url="/guide/network-requests/">
                        <ul class="btn-toggle-nav">
                            <li><a href="/guide/network-requests/capture-network-calls.html">Capture network calls</a></li>
                            <li><a href="/guide/network-requests/mock-network-response.html">Mock network response</a></li>
                            <li><a href="/guide/network-requests/mock-geolocation.html">Mock geolocation</a></li>
                        </ul>
                    </div>
                </li>
                    <% /*
                <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#componenttests-collapse" aria-expanded="false">
                        <a href="/guide/component-tests/">Component tests</a>
                    </button>

                    <div class="collapse" id="componenttests-collapse" data-section-url="/guide/component-tests/">
                        <ul class="btn-toggle-nav">
                            <li><a href="/guide/component-tests/overview.html">Overview</a></li>
                            <li><a href="/guide/component-tests/react.html">React component testing</a></li>
                            <li><a href="/guide/component-tests/vue.html">Vue component testing</a></li>
                        </ul>
                    </div>
                </li> */ %>

                <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#reporters-collapse" aria-expanded="false">
                        <a href="/guide/reporters/">Use reporters</a>
                    </button>

                    <div class="collapse" id="reporters-collapse" data-section-url="/guide/reporters/">
                        <ul class="btn-toggle-nav">
                            <li><a href="/guide/reporters/use-junit-reporter.html">JUnit XML reporter</a></li>
                            <li><a href="/guide/reporters/use-html-reporter.html">HTML reporter</a></li>
                            <li><a href="/guide/reporters/use-mochawesome-reporter.html">Mochawesome reporter</a></li>
                            <li><a href="/guide/reporters/create-custom-reporter.html">Add custom reporter</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#pageobjects-collapse" aria-expanded="false">
                        <a href="/guide/using-page-objects/">Page objects</a>
                    </button>

                    <div class="collapse" id="pageobjects-collapse" data-section-url="/guide/using-page-objects/">
                        <ul class="btn-toggle-nav">
                            <li><a href="/guide/using-page-objects/defining-elements.html">Define elements</a></li>
                            <li><a href="/guide/using-page-objects/defining-sections.html">Define sections</a></li>
                            <li><a href="/guide/using-page-objects/writing-page-specific-commands.html">Add page-specific commands</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#mobiletesting-collapse" aria-expanded="false">
                        <a href="/guide/mobile-web-testing/">Test on mobile</a>
                    </button>

                    <div class="collapse" id="mobiletesting-collapse" data-section-url="/guide/mobile-web-testing/">
                        <ul class="btn-toggle-nav">
                            <li><a href="/guide/mobile-web-testing/with-appium.html">Use Nightwatch with Appium</a></li>
                            <li><a href="/guide/mobile-web-testing/override-device-dimensions.html">Override device dimensions</a></li>
                        </ul>
                    </div>
                </li>

                  <li>
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#extending-collapse" aria-expanded="false">
                      <a href="/guide/extending-nightwatch/">Extend Nightwatch</a>
                    </button>

                    <div class="collapse" id="extending-collapse" data-section-url="/guide/extending-nightwatch//">
                      <ul class="btn-toggle-nav">
                        <li><a href="/guide/extending-nightwatch/adding-custom-commands.html">Define custom commands</a></li>
                        <li><a href="/guide/extending-nightwatch/adding-custom-assertions.html">Define custom assertions</a></li>
                        <li><a href="/guide/extending-nightwatch/adding-custom-reporters.html">Create custom reporters</a></li>
                        <li><a href="/guide/extending-nightwatch/adding-plugins.html">Create Nightwatch plugins</a></li>
                      </ul>
                    </div>

                  </li>
                </ul>

              </div>

            </li>

              <% /*
            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#tutorials-collapse" aria-expanded="false">
                <a href="/guide/tutorials/">Tutorials</a>
              </button>

              <div class="collapse" id="tutorials-collapse" data-section-url="/guide/tutorials/">
                <ul class="btn-toggle-nav">
                  <li><a href="/guide/tutorials/cross-browser-testing-at-scale-using-selenium-grid.html">Cross-browser testing at scale using Selenium Grid</a></li>
                  <li><a href="/guide/tutorials/use-nightwatch-with-appium-for-mobile-web-testing.html">Use Nightwatch with Appium for mobile web testing</a></li>

                  <li><a href="/guide/tutorials/learn-how-to-test-web-rtc-applications.html">Learn how to test WebRTC applications</a></li>
                  <li><a href="/guide/tutorials/develop-and-publish-a-nightwatch-plugin.html">Develop and publish a Nightwatch plugin</a></li>
                  <li><a href="/guide/tutorials/build-a-custom-test-runner-using-the-programmatic-api.html">Build a custom test runner using the programmatic API</a></li>
                  <li><a href="/guide/tutorials/learn-how-to-run-your-tests-on-github-actions.html">Learn how to run your tests on Github Actions</a></li>


                </ul>
              </div>
            </li>*/ %>

            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#reference-collapse" aria-expanded="false">
                <a href="/guide/reference/">Reference</a>
              </button>

              <div class="collapse" id="reference-collapse" data-section-url="/guide/reference/">

                <ul class="btn-toggle-nav toggle-nav-inner">
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#browserdrivers-collapse" aria-expanded="false">
                      <a href="/guide/browser-drivers/">Browser Drivers</a>
                    </button>

                    <div class="collapse" id="browserdrivers-collapse" data-section-url="/guide/browser-drivers/">
                      <ul class="btn-toggle-nav">
                        <li class="nav-item"><a href="/guide/browser-drivers/geckodriver.html">GeckoDriver (Firefox)</a></li>
                        <li class="nav-item"><a href="/guide/browser-drivers/chromedriver.html">ChromeDriver</a></li>
                        <li class="nav-item"><a href="/guide/browser-drivers/safaridriver.html">SafariDriver</a></li>
                        <li class="nav-item"><a href="/guide/browser-drivers/edgedriver.html">EdgeDriver</a></li>
                      </ul>
                    </div>
                  </li>

                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#nightwatchcli-collapse" aria-expanded="false">
                      <a href="/guide/nightwatch-cli/">Nightwatch CLI</a>
                    </button>

                    <div class="collapse" id="nightwatchcli-collapse" data-section-url="/guide/nightwatch-cli/">
                      <ul class="btn-toggle-nav">
                        <li class="nav-item"><a href="/guide/nightwatch-cli/command-line-options.html">Command-line Options</a></li>
                    </div>
                  </li>

                <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#refconfiguration-collapse" aria-expanded="false">
                        <a href="/guide/configuration-reference/">Configuration</a>
                    </button>

                    <div class="collapse" id="refconfiguration-collapse" data-section-url="/guide/configuration-reference/">
                        <ul class="btn-toggle-nav">
                            <li class="nav-item"><a href="/guide/configuration-reference/settings.html">All settings</a></li>
                            <li class="nav-item"><a href="/guide/configuration-reference/defaults.html">Default settings</a></li>
                        </ul>
                    </div>
                </li>

                </ul>

              </div>
            </li>

            <li>
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#resources-collapse" aria-expanded="false">
                <a href="/guide/resources/">Resources</a>
              </button>

              <div class="collapse" id="resources-collapse" data-section-url="/guide/resources/">
                <ul class="btn-toggle-nav toggle-nav-inner">
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#contributing-collapse" aria-expanded="false">
                      <a href="/guide/contributing/">Contribute guide</a>
                    </button>

                    <div class="collapse" id="contributing-collapse" data-section-url="/guide/contributing/">
                      <ul class="btn-toggle-nav">
<!--                        <li class="nav-item"><a href="/guide/contributing/index.html">Overview</a></li>-->
                        <li class="nav-item"><a href="/guide/contributing/styleguide.html">Style guide</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#migrating-collapse" aria-expanded="false">
                      <a href="/guide/migrating-to-nightwatch/">Migrating to Nightwatch 2</a>
                    </button>

                    <div class="collapse" id="migrating-collapse" data-section-url="/guide/migrating-to-nightwatch/">
                      <ul class="btn-toggle-nav">
                        <li class="nav-item"><a href="/guide/migrating-to-nightwatch/from-nightwatch-v1.html">From Nightwatch v1</a></li>
                        <li class="nav-item"><a href="/guide/migrating-to-nightwatch/from-protractor.html">From Protractor</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

          </ul>
        </nav>
        <!--
        =============================================
           End Sidebar
        ==============================================
        -->
      </div>

      <div class="col-md-9 col-xl-8 doc-main-body" role="main">
        <div class="docs-section" data-page-uri="/guide/<%- subPageName %>">
          <div class="page-content"><%- pageContent %></div>
        </div>
      </div>

      <div class="d-none d-xl-block col-xl-2 doc-sideNav right-side-nav">
      </div>

    </div>
  </div>
</div>
