<div class="background">
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-3 bs-sidebar hidden-print" role="complementary"></div>

      <div class="col-md-9" role="main">
        <div class="docs-section" data-page-uri="/guide/<%- subPageName %>">
          <div class="page-content"><%- pageContent %></div>
        </div>
      </div>
    </div>
  </div>
</div>
