<div class="parallax">
  <div class="parallax__layer parallax__layer--3">
    <div id="stars" class="top-stars">&nbsp;</div>
  </div>

  <div class="parallax__layer parallax__layer--2">
    <div id="moon" class="top-moon">&nbsp;</div>
  </div>

  <div class="parallax__layer parallax__layer--1">
    <div id="clouds" class="top-clouds">&nbsp;</div>
  </div>

  <div class="parallax__layer parallax__layer--0">
    <section id="navigation">
      <div class="container">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <div class="logo-home"></div>
              </a>
            </div>

            <div id="navbar" class="navbar-header navbar-left nav-box navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/gettingstarted">Getting Started</a></li>
                <li><a href="/guide">Developer Guide</a></li>
                <li><a href="/api">API Reference</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>

            <div id="navbar-toprightindex" class="navbar-header navbar-right nav-box navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a aria-label="Nightwatch on twitter" href="https://twitter.com/nightwatchjs" title="Twitter"><mat-icon class="mat-icon" role="img" svgicon="logos:twitter" aria-hidden="true"><svg focusable="false" viewBox="0 0 50 59" xmlns="http://www.w3.org/2000/svg"><path d="M50,9.3c-1.8,0.8-3.8,1.4-5.9,1.6c2.1-1.3,3.7-3.3,4.5-5.7c-2,1.2-4.2,2-6.5,2.5c-1.9-2-4.5-3.2-7.5-3.2c-5.7,0-10.3,4.6-10.3,10.3c0,0.8,0.1,1.6,0.3,2.3C16.1,16.7,8.5,12.6,3.5,6.4c-0.9,1.5-1.4,3.3-1.4,5.2c0,3.6,1.8,6.7,4.6,8.5C5,20,3.4,19.6,2,18.8c0,0,0,0.1,0,0.1c0,5,3.5,9.1,8.2,10.1c-0.9,0.2-1.8,0.4-2.7,0.4c-0.7,0-1.3-0.1-1.9-0.2c1.3,4.1,5.1,7,9.6,7.1c-3.5,2.8-7.9,4.4-12.7,4.4c-0.8,0-1.6,0-2.4-0.1c4.5,2.9,9.9,4.6,15.7,4.6c18.9,0,29.2-15.6,29.2-29.2c0-0.4,0-0.9,0-1.3C46.9,13.2,48.6,11.4,50,9.3z"></path></svg></mat-icon></a></li>
                <li><a aria-label="Nightwatch on github" href="https://github.com/nightwatchjs/nightwatch" title="GitHub"><mat-icon class="mat-icon" role="img" svgicon="logos:github" aria-hidden="true"><svg focusable="false" viewBox="0 0 51.8 50.4" xmlns="http://www.w3.org/2000/svg"><path d="M25.9,0.2C11.8,0.2,0.3,11.7,0.3,25.8c0,11.3,7.3,20.9,17.5,24.3c1.3,0.2,1.7-0.6,1.7-1.2c0-0.6,0-2.6,0-4.8c-7.1,1.5-8.6-3-8.6-3c-1.2-3-2.8-3.7-2.8-3.7c-2.3-1.6,0.2-1.6,0.2-1.6c2.6,0.2,3.9,2.6,3.9,2.6c2.3,3.9,6,2.8,7.5,2.1c0.2-1.7,0.9-2.8,1.6-3.4c-5.7-0.6-11.7-2.8-11.7-12.7c0-2.8,1-5.1,2.6-6.9c-0.3-0.7-1.1-3.3,0.3-6.8c0,0,2.1-0.7,7,2.6c2-0.6,4.2-0.9,6.4-0.9c2.2,0,4.4,0.3,6.4,0.9c4.9-3.3,7-2.6,7-2.6c1.4,3.5,0.5,6.1,0.3,6.8c1.6,1.8,2.6,4.1,2.6,6.9c0,9.8-6,12-11.7,12.6c0.9,0.8,1.7,2.4,1.7,4.7c0,3.4,0,6.2,0,7c0,0.7,0.5,1.5,1.8,1.2c10.2-3.4,17.5-13,17.5-24.3C51.5,11.7,40.1,0.2,25.9,0.2z"></path></svg></mat-icon></a></li>
                <li>
            <span class="version-select-dropdown">
              <select class="version-dropdown">
                <option value="/"><%= version %></option>
                <option value="1.1.13">1.1.13</option>
                <option value="0.9.21">0.9.21</option>
              </select>
            </span>
                </li>
              </ul>
            </div>


          </div>
        </nav>
      </div>
    </section>
    <section id="index-container" data-page-uri="/">
      <div id="top-section" class="top-text">
        <div class="houses-left">
          <div class="houses-right">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1>Nightwatch<span>.js</span></h1>
                  <p>End-to-end testing, the easy way.</p>
                </div>
                <div class="col-md-6">
                  <img class="code-top" src="/images/code-top-new.svg" width=525px height=372px>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="download">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-4 download">
              <a href="/gettingstarted#installation"
                 class="btn btn-primary btn-lg btn-download">INSTALL (<%= version %>)</a>
              <a href="https://github.com/nightwatchjs/nightwatch" target="_blank"
                 class="btn btn-primary btn-lg btn-github">VIEW ON GITHUB</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-8">
              <div class="carbonad"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="index-features">
        <div class="container">
          <div class="horizontal-line" style="width:100%"></div>
          <div class="row overview">
            <div class="col-sm-8 col-lg-10" style="margin: 0 auto; float: none; text-align: center;">
              <h2>Browser Automation</h2>
              <p style="font-weight: 100; font-size:22px">
                <span style="font-weight: 300">Nightwatch.js</span> is an integrated, easy to use <span style="font-weight: 300">End-to-End</span> testing solution for web applications and websites, written in Node.js.
                It uses the <a href="https://www.w3.org/TR/webdriver/" target="_blank">W3C WebDriver API</a> to drive browsers in order to perform commands and assertions on DOM elements.
              </p>
            </div>
          </div>

          <div class="horizontal-line"></div>
          <div class="row features-container">
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5"
                 style="text-align: right; padding-right: 40px;">
              <ul class="features">
                <li class="syntax">
                  <h3>Clean Syntax</h3>
                  <p>
                    Simple but powerful syntax which enables you to write tests very quickly, using
                    only Javascript (Node.js) and CSS or Xpath selectors.
                  </p>
                </li>

                <li class="cloudtesting">
                  <h3>Cloud Testing Support</h3>
                  <p>
                    Comes with its own cloud testing platform - <a href="https://nightcloud.io" target="_blank">NightCloud.io</a>
                    (TBA). Works with other cloud testing providers, such as <a href="https://saucelabs.com/" target="_blank">SauceLabs</a> and
                    <a href="https://www.browserstack.com" target="_blank">BrowserStack</a>.
                  </p>
                </li>

                <li class="selectors">
                  <h3>Page Objects Support</h3>
                  <p>
                    Fluent and easy to work with Page Object Model support to better organise
                    elements and sections, with support for both CSS or Xpath selectors.
                  </p>
                </li>

                <li class="plugins">
                  <h3>Easy to Extend</h3>
                  <p>
                    Flexible command and assertion framework which makes it easy to extend to
                    implement your application custom commands and assertions.
                  </p>
                </li>

              </ul>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="text-align: center;">
              <div class="vertical-line"></div>
              <div class="feature-icon syntax"></div>
              <div class="vertical-line"></div>
              <div class="feature-icon testrunner"></div>
              <div class="vertical-line"></div>
              <div class="feature-icon cloudtesting"></div>
              <div class="vertical-line"></div>
              <div class="feature-icon selenium"></div>
              <div class="vertical-line"></div>
              <div class="feature-icon selectors"></div>
              <div class="vertical-line"></div>
              <div class="feature-icon junit"></div>
              <div class="vertical-line"></div>

              <div class="feature-icon plugin"></div>
              <div class="vertical-line"></div>
            </div>

            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5" style="text-align: left; padding-right: 0">
              <ul class="features">
                <li class="testrunner">
                  <h3>Built-in Test Runner</h3>
                  <p>
                    Built-in command-line test runner which runs the tests either sequentially or in parallel, with retries and implicit waits. Also supports grouping of test suites and tags.
                  </p>
                </li>

                <li class="selenium">
                  <h3>WebDriver Service</h3>
                  <p>
                    Manages automatically Selenium or WebDriver services (ChromeDriver, GeckoDriver, Edge, Safari) in a separate child process.
                  </p>
                </li>

                <li class="junit">
                  <h3>Continuous Integration</h3>
                  <p>
                    JUnit XML reporting is built-in so you can integrate your tests in your build process with systems such as Teamcity, Jenkins, Hudson etc.
                  </p>
                </li>

              </ul>
            </div><!--/span-->
          </div><!--/row-->
          <div class="horizontal-line"></div>

          <div class="row">
            <div class="social" style="margin-top:30px; margin-bottom:50px; width:300px">
              <ul>
                <li style="padding-top:2px"><a data-via="nightwatchjs"
                                               data-text="Nightwatch.js allows you to write intuitive end-to-end tests using Node.js and WebDriver that run cross-browser."
                                               href="https://twitter.com/share"
                                               class="twitter-share-button"
                                               data-lang="en" data-size="large">Tweet</a></li>
                <li>
                  <iframe
                    src="https://ghbtns.com/github-btn.html?user=nightwatchjs&repo=nightwatch&type=watch&count=true&size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="160"
                    height="30"></iframe>
                </li>
              </ul>
            </div>
          </div>
        </div><!--/.container-->
      </div><!--/.container-->

      <!-- START .example -->
      <div class="example">
        <div class="container">
          <div class="row" style="padding-left: 50px;">
            <h2>Demo Test</h2>
            <p>The test below opens the search engine <a href="https://ecosia.org">Ecosia.org</a> and searches for "nightwatch", then verifies
              if the term first result is the Nightwatch.js website.</p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="sample-test">
<pre data-language="javascript"><code class="language-javascript">
module.exports = {
  'Demo test Ecosia.org': function (browser) {
    browser
      .url('https://www.ecosia.org/')
      .waitForElementVisible('body')
      .assert.titleContains('Ecosia')
      .assert.visible('input[type=search]')
      .setValue('input[type=search]', 'nightwatch')
      .assert.visible('button[type=submit]')
      .click('button[type=submit]')
      .assert.containsText('.mainline-results', 'Nightwatch.js')
      .end();
  }
};</code></pre>
              </div>
            </div>

            <div class="col-lg-6 sampleoutput">
              <div class="screenshot"></div>
            </div>

          </div>
        </div> <!-- /.container-->

        <div class="nightcloud-container">
          <div class="container">
            <div class="row intro">
              <p>
                Run and manage your Nightwatch tests<br/>with absolutely no hassle, no config, no
                nonsense.
              </p>
              <p>
                <a href="https://nightcloud.io" target="_blank"
                   class="btn btn-primary btn-lg btn-twitter">Learn
                  More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END .example -->

      <div class="twitter">
        <div class="container">
          <div class="row" style="max-width: 780px; text-align: center; margin: 0 auto">
            <h2>Stay Updated</h2>
            <p style="margin-top:50px">
              Follow <a href="https://twitter.com/nightwatchjs" target="_blank">@nightwatchjs</a> on Twitter to stay updated to new version release updates, announcements, and tutorials from our community.
            </p>
            <p style="margin-top: 50px">
              <a href="https://twitter.com/nightwatchjs" target="_blank"
                 class="btn btn-primary btn-lg btn-twitter">Follow on Twitter</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <%- content['_includes_']['footer'] %>

  </div>
</div>
