<div class="jumbotron">
    <div class="container" style="height:130px">
        <div class="row">
            <div class="col-md-8">
                <h1>Releases</h1>
            </div>
            <div class="col-md-4">
                <div class="carbonad"></div>
            </div>
        </div>
    </div>
</div>

<div class="background">
    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-9" role="main">
                <div class="docs-section">
                    <div class="page-header">
                        <h2>Releases</h2>
                    </div>

                </div>

                <div class="docs-section">

                </div>
            </div>
        </div>
    </div>
</div>
