<ul class="nav bs-sidenav">
    <li>
        <a href="/api/">Assert</a>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#assert-attributeContains">attributeContains</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-attributeEquals">attributeEquals</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-containsText">containsText</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-cssClassPresent">cssClassPresent</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-cssProperty">cssProperty</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-domPropertyContains">domPropertyContains</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-domPropertyEquals">domPropertyEquals</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-elementPresent">elementPresent</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-enabled">enabled</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-selected">selected</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-value">value</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-valueContains">valueContains</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-visible">visible</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-title">title</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-urlContains">urlContains</a></li>
            <li class="nav-item"><a class="nav-link" href="#assert-urlEquals">urlEquals</a></li>
        </ul>
    </li>

    <li>
        <a href="/api/expect/">Expect</a>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-chains">language chains</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-matchers">equal / contain / match</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-startend">startWith / endWith</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-negation">not</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-before">before / after</a></li>
            <li class="nav-item"><h5><a class="nav-link" href="/api/expect/#expect-cookie-">cookie</a></h5></li>
            <li class="nav-item"><h5><a class="nav-link" href="/api/expect/#expect-element-">element</a></h5>
            </li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-a">a / an</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-active">active</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-attribute">attribute</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-css">css</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-enabled">enabled</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-present">present</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-property">property</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-selected">selected</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-text">text</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-value">value</a></li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-visible">visible</a></li>
            <li class="nav-item"><h5><a class="nav-link" href="/api/expect/#expect-elements-">elements</a></h5>
            </li>
            <li class="nav-item"><a class="nav-link" href="/api/expect/#expect-elements-count">count</a></li>
            <li class="nav-item"><h5><a class="nav-link" href="/api/expect/#expect-title-">title</a></h5></li>
            <li class="nav-item"><h5><a class="nav-link" href="/api/expect/#expect-url-">url</a></h5></li>
        </ul>
    </li>

    <li>
        <a href="/api/pageobject/">Page</a>
        <ul class="nav">
            <li><a href="#page-object-instance">instance</a></li>
            <li><a href="#page-commands">commands</a></li>
        </ul>
    </li>

    <li>
        <a href="/api/commands/">API Commands/Protocol</a>
        <ul class="nav">
            <li><h5>Finding Elements</h5></li>
            <li><a href="/api/findElement.html" title="go to browser.findElement() command">findElement</a></li>
            <li><a href="/api/findElements.html">findElements</a></li>
            <li><a href="/api/element.html">element</a></li>
            <li><a href="/api/elementIdElement.html">elementIdElement</a></li>
            <li><a href="/api/elementIdElements.html">elementIdElements</a></li>
            <li><a href="/api/elementIdEquals.html">elementIdEquals</a></li>
            <li><a href="/api/elements.html">elements</a></li>
            <li><a href="/api/waitForElementPresent.html">waitForElementPresent</a></li>
            <li><a href="/api/waitForElementNotPresent.html">waitForElementNotPresent</a></li>
            <li><a href="/api/waitForElementVisible.html">waitForElementVisible</a></li>
            <li><a href="/api/waitForElementNotVisible.html">waitForElementNotVisible</a></li>


            <li><h5><a href="#elementinteraction-headline">Element Interaction</a></h5></li>

            <li><a href="/api/clearValue.html">clearValue</a></li>
            <li><a href="/api/click.html" name="click">click</a></li>
            <li><a href="/api/moveToElement.html">moveToElement</a></li>
            <li><a href="/api/sendKeys.html">sendKeys</a></li>
            <li><a href="/api/setPassword.html">setPassword</a></li>
            <li><a href="/api/submitForm.html">submitForm</a></li>
            <li><a href="/api/updateValue.html">updateValue</a></li>

            <li><h5><a href="#elementstate-headline">Element State</a></h5></li>

            <li><a href="#elementActive">elementActive</a></li>
            <li><a href="#getAttribute">getAttribute</a></li>
            <li><a href="#getCssProperty">getCssProperty</a></li>
            <li><a href="#getElementProperty">getElementProperty</a></li>
            <li><a href="#getElementSize">getElementSize</a></li>
            <li><a href="#getTagName">getTagName</a></li>
            <li><a href="#getText">getText</a></li>
            <li><a href="#getValue">getValue</a></li>
            <li><a href="#isEnabled">isEnabled</a></li>
            <li><a href="#isSelected">isSelected</a></li>
            <li><a href="#isVisible">isVisible</a></li>

            <li><h5><a href="#elementlocation-headline">Element Location</a></h5></li>

            <li><a href="#getLocation">getLocation</a></li>
            <li><a href="#getLocationInView">getLocationInView</a></li>

            <li><h5><a href="#elementinternal-headline">Protocol Actions</a></h5></li>
            <li><a href="#elementIdAttribute">elementIdAttribute</a></li>
            <li><a href="#elementIdClear">elementIdClear</a></li>
            <li><a href="#elementIdClick">elementIdClick</a></li>
            <li><a href="#elementIdCssProperty">elementIdCssProperty</a></li>
            <li><a href="#elementIdDisplayed">elementIdDisplayed</a></li>
            <li><a href="#elementIdEnabled">elementIdEnabled</a></li>
            <li><a href="#elementIdLocation">elementIdLocation</a></li>
            <li><a href="#elementIdLocationInView">elementIdLocationInView</a></li>
            <li><a href="#elementIdName">elementIdName</a></li>
            <li><a href="#elementIdSelected">elementIdSelected</a></li>
            <li><a href="#elementIdSize">elementIdSize</a></li>
            <li><a href="#elementIdText">elementIdText</a></li>
            <li><a href="#elementIdValue">elementIdValue</a></li>
            <li><a href="#submit">submit</a></li>

            <li><h5><a href="#document-headline">Document Handling</a></h5></li>
            <li><a href="#execute">execute</a></li>
            <li><a href="#executeAsync">executeAsync</a></li>
            <li><a href="#injectScript">injectScript</a></li>
            <li><a href="#source">source</a></li>

            <li><h5><a href="#sessions-headline">Session Related</a></h5></li>
            <li><a href="#end">end</a></li>
            <li><a href="#getLog">getLog</a></li>
            <li><a href="#getLogTypes">getLogTypes</a></li>
            <li><a href="#isLogAvailable">isLogAvailable</a></li>
            <li><a href="#session">session</a></li>
            <li><a href="#sessionLog">sessionLog</a></li>
            <li><a href="#sessionLogTypes">sessionLogTypes</a></li>
            <li><a href="#sessions">sessions</a></li>
            <li><a href="#status">status</a></li>
            <li><a href="#timeouts">timeouts</a></li>
            <li><a href="#timeoutsAsyncScript">timeoutsAsyncScript</a></li>
            <li><a href="#timeoutsImplicitWait">timeoutsImplicitWait</a></li>

            <li><h5><a href="#navigation-headline">Navigation</a></h5></li>

            <li><a href="#back">back</a></li>
            <li><a href="#forward">forward</a></li>
            <li><a href="#getTitle">getTitle</a></li>
            <li><a href="#init">init</a></li>
            <li><a href="#refresh">refresh</a></li>
            <li><a href="#title">title</a></li>
            <li><a href="#url">url</a></li>
            <li><a href="#urlHash">urlHash</a></li>

            <li><h5><a href="#contexts-headline">Window Related</a></h5></li>

            <li><a href="#closeWindow">closeWindow</a></li>
            <li><a href="#fullscreenWindow">fullscreenWindow</a></li>
            <li><a href="#getWindowPosition">getWindowPosition</a></li>
            <li><a href="#getWindowRect">getWindowRect</a></li>
            <li><a href="#getWindowSize">getWindowSize</a></li>
            <li><a href="#maximizeWindow">maximizeWindow</a></li>
            <li><a href="#minimizeWindow">minimizeWindow</a></li>
            <li><a href="#openNewWindow">openNewWindow</a></li>
            <li><a href="#resizeWindow">resizeWindow</a></li>
            <li><a href="#setWindowPosition">setWindowPosition</a></li>
            <li><a href="#setWindowRect">setWindowRect</a></li>
            <li><a href="#setWindowSize">setWindowSize</a></li>
            <li><a href="#switchWindow">switchWindow</a></li>

            <li><h5><a href="#window-protocol-headline">Window Protocol</a></h5></li>
            <li><a href="#window">window</a></li>
            <li><a href="#windowHandle">windowHandle</a></li>
            <li><a href="#windowHandles">windowHandles</a></li>
            <li><a href="#windowMaximize">windowMaximize</a></li>
            <li><a href="#windowPosition">windowPosition</a></li>
            <li><a href="#windowRect">windowRect</a></li>
            <li><a href="#windowSize">windowSize</a></li>

            <li><h5><a href="#frames-headline">Frames</a></h5></li>
            <li><a href="#frame">frame</a></li>
            <li><a href="#frameParent">frameParent</a></li>

            <li><h5><a href="#cookies-headline">Cookies</a></h5></li>
            <li><a href="#cookie">cookie</a></li>
            <li><a href="#deleteCookie">deleteCookie</a></li>
            <li><a href="#deleteCookies">deleteCookies</a></li>
            <li><a href="#getCookies">getCookies</a></li>
            <li><a href="#getCookie">getCookie</a></li>
            <li><a href="#setCookie">setCookie</a></li>

            <li><h5><a href="#useractions-headline">User Actions</a></h5></li>

            <li><a href="#doubleClick">doubleClick</a></li>
            <li><a href="#keys">keys</a></li>
            <li><a href="#mouseButtonClick">mouseButtonClick</a></li>
            <li><a href="#mouseButtonDown">mouseButtonDown</a></li>
            <li><a href="#mouseButtonUp">mouseButtonUp</a></li>
            <li><a href="#moveTo">moveTo</a></li>

            <li><h5><a href="#userprompts-headline">User Prompts</a></h5></li>
            <li><a href="#acceptAlert">acceptAlert</a></li>
            <li><a href="#dismissAlert">dismissAlert</a></li>
            <li><a href="#getAlertText">getAlertText</a></li>
            <li><a href="#setAlertText">setAlertText</a></li>

            <li><h5><a href="#screens-headline">Screen Capture</a></h5></li>
            <li><a href="#saveScreenshot">saveScreenshot</a></li>
            <li><a href="#screenshot">screenshot</a></li>

            <li><h5><a href="#mobile-headline">Mobile Related</a></h5></li>

            <li><a href="#getOrientation">getOrientation</a></li>
            <li><a href="#setOrientation">setOrientation</a></li>
            <li><a href="#contexts">contexts</a></li>
            <li><a href="#currentContext">currentContext</a></li>
            <li><a href="#setContext">setContext</a></li>

            <li><h5><a href="#utilities-headline">Utilities/Debugging</a></h5></li>

            <li><a href="#pause">pause</a></li>
            <li><a href="#perform">perform</a></li>
            <li><a href="#useCss">useCss</a></li>
            <li><a href="#useXpath">useXpath</a></li>

        </ul>
    </li>
</ul>