<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-content">
          <div class="logo-home"></div>
          <div class="footer-text">
            <p class="address">
              Nightwatch.js is built in Oslo, Norway by <a href="https://pineview.io">Pine View</a> - an independent software consultancy, with help from <a href="https://github.com/nightwatchjs/nightwatch/graphs/contributors">our contributors</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Nightwatch.js</h4>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/about/contribute/">Contribute</a></li>
          <li><a href="https://github.com/nightwatchjs/nightwatch/releases" target="_blank">Release History</a></li>
          <li><a href="https://pineview.io/#nightwatchjs">Consulting &amp; Training</a></li>
          <li><a href="https://opencollective.com/nightwatch" target="_blank">Sponsor Us</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4>Help</h4>
        <ul>
          <li><a href="/about/community/">Community Resources</a></li>
          <li><a href="https://github.com/nightwatchjs/nightwatch/issues" target="_blank">Report Issues</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/nightwatchjs" target="_blank">Mailing List</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/nightwatch.js" target="_blank">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <p>&copy; Pine View Software AS 2014-2019 • Code licensed under the <a href="https://github.com/nightwatchjs/nightwatch/blob/master/LICENSE.md">MIT License</a>.</p>
      </div>
      <div class="col-md-6">
        <div class="social-links">
          <span class="social twitter"><a href="https://twitter.com/pineviewlabs" target="_blank">Twitter</a></span>
          <span class="social github"><a href="https://github.com/pineviewlabs" target="_blank">Github</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>
