
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-content">
          <a class="logo-home" href="https://browserstack.com" target="_blank" title="Go to BrowserStack homepage">BrowserStack</a>
          <div class="footer-text">
            <p class="address" style="">
              Nightwatch.js was initially created in Oslo, Norway by <a href="https://pineview.io">Pineview.io</a> – an independent software consultancy; it is now being maintained at <a href="https://browserstack.com" target="_blank">BrowserStack</a> with help from all <a href="https://github.com/nightwatchjs/nightwatch/graphs/contributors">our contributors</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Nightwatch.js</h4>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="https://nightwatchjs.org/blog/" target="_blank">Blog</a></li>
          <li><a href="https://nightwatch.substack.com/" target="_blank">Newsletter</a></li>
          <li><a href="/about/contribute/">How to Contribute</a></li>
          <li><a href="/releases/" target="_blank">Release History</a></li>
        </ul>
        <div class="social-links">
          <span class="social twitter"><a href="https://twitter.com/nightwatchjs" target="_blank" rel="noreferrer">Twitter</a></span>
          <span class="social github"><a href="https://github.com/nightwatchjs" target="_blank" rel="noreferrer">Github</a></span>
        </div>
      </div>

      <div class="col-md-4">
        <h4>Help</h4>
        <ul>
          <li><a href="/about/community/">Community Resources</a></li>
          <li><a href="https://github.com/nightwatchjs/nightwatch/issues" target="_blank" rel="noreferrer">Report Issues</a></li>
          <li><a href="https://github.com/nightwatchjs/nightwatch/discussions" target="_blank" rel="noreferrer">Github Discussions</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/nightwatch.js" target="_blank" rel="noreferrer">Stack Overflow</a></li>
          <li><a href="https://discord.gg/SN8Da2X" target="_blank" rel="noreferrer">Chat on Discord</a></li>
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6">
        <p>&copy; 2022 <a href="https://browserstack.com" target="_blank">BrowserStack Limited</a> • Code licensed under the <a rel="noreferrer" href="https://github.com/nightwatchjs/nightwatch/blob/main/LICENSE.md">MIT License</a>.</p>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</footer>