<div class="container navigation">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header" style="min-width: 130px">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbartop"
                aria-expanded="false" aria-controls="navbartop">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <div class="logo-home"></div>
        </a>
        <div class="version-select-dropdown">
          <select class="version-dropdown">
            <option value="/"><%= version %></option>
            <option value="/v0.9.21/">v0.9.21</option>
          </select>
        </div>
      </div>
      <div id="navbartop" class="navbar-header navbar-right nav-box navbar-collapse collapse">
        <input type="search" id="input-top-search">

        <ul class="nav navbar-nav">
          <li><a href="/" <%if (section == 'index') { %>class="active"<% } %>>Home</a></li>
          <li><a href="/gettingstarted" <%if (section == 'gettingstarted') { %>class="active"<% } %>>Getting Started</a></li>
          <li><a href="/guide" <%if (section == 'guide') { %>class="active"<% } %>>Developer Guide</a></li>
          <li><a href="/api" <%if (section == 'api') { %>class="active"<% } %>>API Reference</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact" <%if (section == 'contact') { %>class="active"<% } %>>Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

